* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins';
    background-color: #040d12;
    color: #f0f8ff;
}

.container {
    padding: 30px 60px;
    background-color: #131313;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.container::after,
.container::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background: linear-gradient(to right,#2a0845,#6441a5);
    filter: blur(30px);
}

.container::after {
    right: -10px;
}

.container::before {
    left: -30px;
}

.container h4 {
    font-size: 32px;
    margin-right: 50px;
    z-index: 1;
}

.container .links {
    display: flex;
    flex-direction: column;
}

.container .links a {
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 8px 10px;
    width: 145px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 5px;
    border: 2px solid #5f5f5f;
    transition: transform 0.4s, background 0.4s, opacity 0.4s;
}

.container .links a:nth-child(1) {
    transform: rotate(-10deg) translateY(30px);
}
.container .links a:nth-child(2) {
    transform: rotate(0) translateY(0);
    z-index: 1;
}
.container .links a:nth-child(3) {
    transform: rotate(10deg) translateY(-30px);
}

.container .links a i {
    width: 22px;
}

.container:hover .links a {
    border: 2px solid #6441a5;
    transform: rotate(0) translateY(0);
    background: linear-gradient(to right, #2a0845, #6441a5);
    opacity: 0.4;
}

.container .links a:hover {
    opacity: 1;
}